:root {
  --cor-fundo: #F9E9E0;
  --cor-texto: #424E50;
  --cor-botao: #B8CDBA;
  --cor-hover: #F8BBBC;
  --cor-card: #FAF8F6;
}

.contato {
  padding: 40px 20px;
  text-align: center;
}

.contato h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.contato-container {
  padding: 40px 50px;
  max-width: 850px;
  margin: auto;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
}

.contato-opcoes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 160px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.cards {
  border-radius: 16px;
  padding: 30px 20px;
  width: 200px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  transition: background 0.3s;
}

.cards:hover {
  background-color: var(--cor-hover);
}

.cards img {
  width: 50px;
  margin-bottom: 10px;
}

.cards p {
  font-size: 1rem;
  margin: 0;
}
