footer {
  background-color: #424E50;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #F9E9E0;
}

/* Botão WhatsApp flutuante */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  padding: 0px;
  font-size: 30px;
  z-index: 999;
  
}

@media (max-width: 480px) {
  footer {
    font-size: 0.8rem;
    padding: 15px 10px;
  }

  .whatsapp-float {
    font-size: 24px; /* reduz o tamanho do botão */
    bottom: 15px;
    right: 15px;
  }
}

/* Em telas médias (ex: tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  footer {
    font-size: 0.85rem;
    padding: 18px 15px;
  }

  .whatsapp-float {
    font-size: 28px;
    bottom: 18px;
    right: 18px;
  }
}