footer {
  background-color: #424E50;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #F9E9E0;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(37, 211, 102, 0.3);
  transition: all 0.3s ease;
  z-index: 999;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(37, 211, 102, 0.4);
}

.whatsapp-float img {
  width: 35px;
  height: 35px;
}

/* BOTAO do INSTA */

.instagram-float {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 60px;
  height: 60px;
 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(238, 42, 123, 0.3);
  transition: all 0.3s ease;
  z-index: 999;
}

.instagram-float:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(238, 42, 123, 0.4);
}

.instagram-float img {
  width: 35px;
  height: 35px;
}


.scroll-to-top {
  position: fixed;
  bottom: 160px;
  right: 25px;
  width: 50px;
  height: 50px;
  background-color: #F8BBC3;
  color: #424E50;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(66, 78, 80, 0.2);
  transition: all 0.3s ease;
  z-index: 998;
}

.scroll-to-top:hover {
  background-color: #B8CDBA;
  transform: translateY(-5px);
}

/* Responsividade */
@media (max-width: 700px) {
  footer {
    font-size: 0.8rem;
    padding: 15px 10px;
  }

  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
  }

  .whatsapp-float img {
    width: 30px;
    height: 30px;
  }

  /* BOTAO do INSTA */
  .instagram-float{
    width: 50px;
    height: 50px;
    bottom: 80px;
    right: 15px;
  }
  .instagram-float img{
    width: 30px;
    height: 30px;
  }

  .scroll-to-top {
    width: 45px;
    height: 45px;
    bottom: 140px;
    right: 20px;
    font-size: 1.3rem;
  }

}

@media (min-width: 481px) and (max-width: 768px) {
  footer {
    font-size: 0.85rem;
    padding: 18px 15px;
  }

  .scroll-to-top {
    bottom: 85px;
  }

  /* BOTAO do INSTA */
  

}