
.hero {
  background: linear-gradient(#F9E9E0, #FFFFFF);
  padding: 60px 20px;
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.hero-texto {
  flex: 1;
  min-width: 300px;
}

.hero-texto h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #424E50;
}

.hero-texto p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #424E50;
}

.hero-imagem {
  flex: 1;
  text-align: center;
}

.hero-imagem img {
  width: 100%;
  height: auto;
  max-width: 600px; 
  display: block;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.logo-container {
  text-align: center;         
  margin-bottom: 16px; 
}

.logo-hero {
  aspect-ratio: 1 / 1;
  width: clamp(400px, 14vw, 400px); /* min 160px, cresce até 280px */
  height: auto;          
  border-radius: 50%;             
  border: 4px;  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
  object-fit: cover;
  border: 5px solid #B8CDBA;
  box-shadow: 0 8px 20px rgba(248, 187, 195, 0.3);
  margin-bottom: 30px;
}

.logo-hero:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease;
}

.btn-whatsapp {
  background-color: #25D366;
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-whatsapp:hover {
  background-color: #1DA851;
}

@media (max-width: 1024px) {
  .hero-texto h1 {
    font-size: 2rem;
  }

  .hero-texto p {
    font-size: 1.1rem;
  }

  .hero-imagem img {
    width: 100%;
    max-width: auto;
  }
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
    padding: 0 10px;
  }

  .hero-texto, .hero-imagem {
    width: 100%;
  }

  .hero-texto h1 {
    font-size: 1.8rem;
  }

  .hero-texto p {
    font-size: 1rem;
  }

  .btn-whatsapp {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .logo-hero {
    width: 300px;
  }


}

@media (max-width: 480px) {
  .hero {
    padding: 40px 10px;
  }

  .hero-texto h1 {
    font-size: 1.5rem;
  }

  .hero-texto p {
    font-size: 0.95rem;
  }

  .hero-imagem img {
    max-width: 300px;
  }
}

